# Skopiuj ten plik do ".env" i wklej swój darmowy Access Key z https://web3forms.com/
# 1. Wejdź na https://web3forms.com/
# 2. Podaj swój adres e-mail (rafal.kaczynski@raf-tech.com) w polu "Access Key"
# 3. Skopiuj Access Key, który przyjdzie na maila
# 4. Wklej go poniżej
VITE_WEB3FORMS_ACCESS_KEY=your-access-key-here
